*~
*.swp
.idea
.idea/*
*.iml
*.ipr
*.iws
target
.DS_Store
.scala_dependencies
.project
.classpath
.settings
eclipse-classes
activemq.tmp
apollo-web/activemq.xml
apollo-web/activemq.xml.*
apollo-web/overlays/
apollo-web/src/main/webapp/WEB-INF/_scalate/
activemq-data/
